* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}


form {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
}

form h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}


form .form-group {
  display:block;
  width: 300px;
  margin-bottom: 15px;
}


form .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}


form .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #D9D9D9;
  border-radius: 10px;
  transition: 0.4s;
}

form .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #adfdba;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  margin-right: 140px;
}

form input[type="submit"]:hover {
  background-position: 100% 0%;
  background-color: #888;
} 

.button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #adfdba;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-position: 100% 0%;
  background-color: #888;
}

